NODE_ENV=development

APOLLO_KEY=
APOLLO_GRAPH_REF=
APOLLO_GRAPH_VARIANT=current

GATEWAY_PORT=4000
AUTHORS_SERVICE_PORT=4001
AUTHORS_SERVICE_URL=http://localhost:4001
POSTS_SERVICE_PORT=4002
POSTS_SERVICE_URL=http://localhost:4002

REDIS_HOST_ADDRESS=redis
REDIS_PORT=6379
